


<td><%=key%></td>
<% for (var i = 0; i < sourceValues.length; i++ )  { %> 
	<td <% if(match || (value !== '' && value === sourceValues[i])) { %> class="success" <% } %>><%=sourceValues[i]%></td>
	<% if (sourceValues.length === 2 && i === 0) { %>
	 	<td <% if (value && !cleanValue) { %> class="success" <% } else if (cleanValue) { %> class="info" <%} else if (!value) { %> class="warning" <% } %> >
	 		<%=value%>
	 	</td>
	<% } %>
<% } %>
<% if (sourceValues.length !== 2) { %>
 	<td <% if (value && !cleanValue) { %> class="success" <% } else if (cleanValue) { %> class="info" <%} else if (!value) { %> class="warning" <% } %> >
 		<%=value%>
 	</td>
<% } %>
